{% extends "nav_bar_base.html" %}

{% block title %} About {% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="..\static\styles\about.css">
{% endblock stylesheet %}

{% block content %}

{{ super() }}

<!-- Background image -->
<div class="bg" >
    <div class="layer">
        <div class="centered">
            Find the best food <br> around you 
        </div>
    </div>
</div>

<div class="container ">

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 border-right">

            <h1>Description</h1>

            <p> Built in 2020, Exotic is a website that promotes and makes easy access to foreign foods. 
                Our focus is on restaurants, food lovers, tourists and people who like exotic food. Exotic
                wants to be a platform that gathers people around food. On exotic.io, you can search food 
                by country, culture and name.      
            </p>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h1>Mission</h1>

            <ul>
                <li>Promote and make easy access to exotic food.</li>
                <li>Gather people around food.</li>
                <li>Centralize the sale of exotic food.</li>
                <li>Encourage people to discover other culture food.</li>
            </ul> 

        </div>
    </div>

    <div class="row justify-content-center">
        <h2 style="margin-top: 1rem;"> Meet the team </h2>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card flex-row flex-wrap mt-4">
                <div class="card-header border-0 col-4">
                    <img class="card-img-top" src="../static/images/cesar.jpg" alt="Card image cap">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title"> Cesar Angola </h5>
                        <p> cofounder & front end developer </p>
                        <p>  Cesar Angola is a web developer and cofounder of Exotic. He contributes 
                             to build the frond end of Exotic with HTML, CSS and JS.
                             Besides working on Exotic, he likes watching football and going to the gym.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card basic">
                <div class="card-header border-0">
                    <img class="card-img-top" src="../static/images/cesar.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Cesar Angola </h5>
                    <p> cofounder & front end developer </p>
                    <p> Cesar Angola is a web developer and cofounder of Exotic. He contributes 
                        to build the frond end of exotic with HTML, CSS and JS.
                        Besides working on Exotic, he likes watching football and going to the gym.
                    </p>
                </div>
            </div>
        </div>
 
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card flex-row flex-wrap mt-4">
                <div class="card-header border-0 col-4">
                    <img class="card-img-top" src="../static/images/cesar.jpg" alt="Card image cap">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title"> Cesar Angola </h5>
                        <p> UI/UX designer & developer </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card basic">
                <div class="card-header border-0">
                    <img class="card-img-top" src="../static/images/cesar.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Cesar Angola </h5>
                    <p> UI/UX designer & developer </p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block  script %}
{{ super() }}
<script src="../static/js/about.js"></script>
{% endblock script  %}