{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="..\static\styles\forgot_password.css">
{% endblock stylesheet %}

{% block title %} Password {% endblock %}

{% block content %}

    <!-- navbar -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm custom">

        <!-- Brand -->
    <a class="navbar-brand mr-auto" href="/">exotic</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="\login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="\signup">Signup </a>
        </li>
    </ul>
    
    </nav>

    <div id="logreg-forms">


            <form action="/reset/password/" class="form-reset">
                <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            </form>
            
            <br>
            
    </div>
 
{% endblock content %}

{% block  script %}

{% endblock script %}