{% extends "nav_bar_base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="..\static\styles\signup.css">
{% endblock stylesheet %}

{% block title %} Signup {% endblock %}

{% block content %}
{{ super() }}

    <div id="logreg-forms">
            
            <form action="" class="form-signup" method="POST">
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up </h1>
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
                </div>
                <div class="social-login">
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
                </div>
                {{ form.hidden_tag() }}
                    {% if form.username.errors %}
                    {{ form.username(class="form-control  is-invalid" , placeholder="Username") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control " , placeholder="Username") }}
                    {% endif %}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control  is-invalid" , placeholder="Email") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control " , placeholder="Email") }}
                    {% endif %}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control  is-invalid" , placeholder="Password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control " , placeholder="Password") }}
                    {% endif %}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control  is-invalid" , placeholder="Confirm password") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control " , placeholder="Confirm password") }}
                    {% endif %}
                
                

                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            </form>
            
            <hr>

            <div class="container already_account">
                <p>Already have an account? <a href="/login" style="color: rgb(248, 74, 74);">Sign in</a>.</p>
            </div>
            
    </div>
 
{% endblock content %}

{% block  script %}
{{ super() }}
{% endblock script %}